@font-face {
   font-family: ;
   src: url()
}

@font-face {
   font-family: ;
   src: url()
}

@font-face {
   font-family: ;
   src: url()
}

@font-face {
   font-family: ;
   src: url()
}

* {
   box-sizing: border-box;
}